

/* Your other css */

.section .reveal { 
  text-indent:-20%;
  font-size: 70px;
  font-weight: bold;
 
 
}

.section .reveal .state-background {
    background: url("cine.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
